@font-face {
  font-family: "bale";
  src: url("fonts/bale-rg.eot"),
    url("fonts/bale-rg.woff2") format("woff2"),
    url("fonts/bale-rg.woff") format("woff"),
    url("fonts/bale-rg.ttf") format("truetype");
}

html,
body {
  margin: 20px;
}

h1{
  font-weight: normal;
}

main{
  max-width: 1200px;
  margin: auto;
}
.title {
  font-family: bale;
  font-size: 50px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid #bbb;
}

.title-not {
  margin-bottom: 40px;
  margin-left: 20px;
}

.numbers {
  font-family: bale;
  font-size: 70px;
  margin-bottom: 20px;
}

pre{
  background: #eee;
  padding-top: 10px;
  padding-left: 0px;
  margin: 0;
  word-wrap: normal;
}

button{
  background: #82EBF0;
  border: 1px solid #78D6DB;
  border-radius: 4px;
  padding: 8px 10px;
}

button:hover{
  background: #78D6DB;
}

.feature{
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

/* mixin to output this, need sass */

.tabular {
  font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
}

.old {
  font-feature-settings:"onum";
  -webkit-font-feature-settings:"onum";
  -moz-font-feature-settings: "onum";
}

.oldTab {
  font-feature-settings:"onum", "tnum";
  -webkit-font-feature-settings:"onum", "tnum";
  -moz-font-feature-settings: "onum", "tnum";
}

.smcp {
  font-feature-settings: "smcp";
  -webkit-font-feature-settings: "smcp";
  -moz-font-feature-settings: "smcp";
}

.smcpTab {
  font-feature-settings: "smcp", "tnum";
  -webkit-font-feature-settings: "smcp", "tnum";
  -moz-font-feature-settings: "smcp", "tnum";
}

.liga {
  font-feature-settings: "liga" 0;
  -webkit-font-feature-settings: "liga" 0;
  -moz-font-feature-settings: "liga" 0;
}

.numbers-old{
  font-feature-settings:"onum";
  -webkit-font-feature-settings:"onum";
  -moz-font-feature-settings: "onum";
}

.salt {
  font-feature-settings: "salt";
  -webkit-font-feature-settings: "salt";
  -moz-font-feature-settings: "salt";
}

.salt .salt_fig{
  color: #888;
}